@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mb-5;
}
table {
  @apply w-full;
}

th {
  @apply text-left text-neutral-400 uppercase text-xs;
}

td {
  @apply p-2 border-t border-gray-200;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-view {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 25px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.image-box {
  max-width: 100px;
  max-height: 100px;
}

.center {
  @apply max-w-[1650px] mx-auto my-0 px-6 py-0;
}

.big-center {
  @apply max-w-[1650px] mx-auto my-0;
}

.primary-btn {
  @apply bg-white hover:bg-slate-200 text-black border-2 border-black rounded-sm font-bold uppercase;
}

.secondary-btn {
  @apply bg-secondary hover:bg-red-800 text-white rounded-sm font-bold uppercase;
}

.link-btn {
  @apply font-bold border-b-4 border-b-transparent hover:border-b-secondary;
}

@media screen and (min-width: 768px) {
  /* .grid-view {
    grid-template-columns: 1.1fr 0.9fr;
  } */

  .cart-wrapper {
    grid-template-columns: 0.8fr 1.2fr;
  }

  .product-wrapper {
    grid-template-columns: 0.8fr 1.2fr;
  }
}
