@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

table {
  @apply w-full;
}

th {
  @apply text-left text-xs uppercase text-neutral-400;
}

td {
  @apply border-t border-gray-200 p-2;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.checkout-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-view {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 25px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.image-box {
  max-width: 100px;
  max-height: 100px;
}

.center {
  @apply mx-auto my-0 max-w-[1650px] px-6 py-0;
}

.big-center {
  @apply mx-auto my-0 max-w-[1650px];
}

.primary-btn {
  @apply rounded-sm border-2 border-black bg-white font-bold uppercase text-black hover:bg-slate-200;
}

.secondary-btn {
  @apply rounded-sm bg-secondary font-bold uppercase text-white hover:bg-red-800;
}

.link-btn {
  @apply border-b-4 border-b-transparent font-bold hover:border-b-secondary;
}

/* .checkout-form input {
  @apply w-full border p-4 focus:outline-2 focus:outline-dotted focus:outline-offset-4 focus:outline-primary focus:mb-4 focus:border-black;
}

.checkout-form label {
  @apply absolute text-sm origin-[0] top-4 left-4 text-neutral-500 font-light px-1 bg-white z-10 transform -translate-y-4 scale-75 peer-focus:px-2 peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 duration-300 ease-out;
} */

@media screen and (min-width: 768px) {
  /* .grid-view {
    grid-template-columns: 1.1fr 0.9fr;
  } */

  .cart-wrapper {
    grid-template-columns: 1.3fr 0.7fr;
    gap: 40px;
  }

  .checkout-wrapper {
    grid-template-columns: 1.2fr 0.8fr;
    gap: 40px;
  }

  .product-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
